<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    
    <footer th:fragment="footer">
        <div id="PoweredBy">
            &nbsp<a href="www.csu.edu.cn">Central South University</a>
        </div>
        <div id="Banner">
            <a  onclick="ChangeChinese()" id="Chinese" >切换为中文</a>
            <a  onclick="ChangeEnglish()" id="English" >change to English</a>
        </div>
        <script>
            function ChangeChinese(){
                $.get("/test1",//url
                    {
                        lang: 'zh'
                    }, function (data) {
                    });
            };
            function ChangeEnglish (){
                $.get("/test1",//url
                    {
                        lang: 'en'
                    }, function (data) {
                    });
            }
        </script>
    </footer>

</html>