<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/head::head(category='登录')">
</head>
<body>
    <header th:replace="layout/header::header"></header>
        <form action="/login" method="get">
            用户名：<input placeholder="用户名" name="username" />
            密  码：<input placeholder="密码" name="password" />
            验证码：<input name="code" type="text" />
            记住我：<input type="checkbox" name="remeberme" value="true" />
            <button type="submit" >登陆</button>
        </form>
    <footer th:replace="layout/footer::footer"></footer>
</body>

<script>

</script>
</html>